.banner {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
}

.bannerBasic, .bannerInfo {
    background-color: var(--bbraun-blue-10);
    border: 1px solid var(--bbraun-blue-80);
}

.bannerWarning {
    background-color: color-mix(in srgb, var(--bbraun-warning) 10%, transparent);
    border: 1px solid var(--bbraun-warning);
}

.bannerError {
    background-color: var(--bbraun-red-10);
}

.bannerIconContainer {
    width: 48px;
}

.bannerContentContainer {
    width: calc(100% - 96px);
}

.bannerDismissContainer {
    width: 48px;
}


